* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.stats {
    width: 505px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    border: 3px solid #aaa;
    border-radius: 5px;
    padding: 15px;
}

.stats > div {
    width: 125px;
}

.stats > div > strong {
    align-items: top;
}

.high-time {
    color: #f00;
    font-weight: 700;
}

#menu {
    height: calc(606px + 75px);
    width: 505px;
    left: 50%;
    background-color: #fff;
    border: 3px solid #aaa;
    border-radius: 5px;
    position: absolute;
    transition: transform 1.5s cubic-bezier(0, 0, 0.0, 1.0);
}

#menu h2 {
    margin-top: 150px;
    font-size: 2.5em;
}

.close {
    transform: translate(-50%, -300%);
}

.open {
    transform: translate(-50%, -75px);
}

#player-select {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    }

#player-select img {
    cursor: pointer;
    width: 76px;
    height: 128px;
}

.border {
    border: 3px solid #25d162;
    border-radius: 5px;
}

button#newGame {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    color: #25d162;
    background-color: #fff;
    border: 3px solid #25d162;
    border-radius: 5px;
}

button#newGame:hover {
    cursor: pointer;
    color: #fff;
    background-color: #25d162;
    border-color: #fff;
}